---
import {createPlaylistWithArtists} from "@src/utils/spotify";
import Dump from "@src/components/Dump.astro";
const formData = await Astro.request.formData();
const playlistName = formData.get('playlistName');
const artistIds = formData.getAll('artistId');
const action = formData.get('formaction');

const authToken = Astro.cookies.get('spotify-auth-token').value;

if (action === 'create') {
  await createPlaylistWithArtists({artistIds, playlistName, authToken});
}
---

<form method="POST">
  <label for="playlist-name-input">Playlist name</label>
  <input id="playlist-name-input" name="playlistName" type="text" />
  {artistIds.map(artistId => (<input type="hidden" name="artistId" value={artistId} />))}
  
  <button name="formaction" value="create">Create playlist with these artists</button>
</form>
<Dump data={artistIds} />

