---
import {lookupMultipleArtists} from "@src/utils/spotify";
import Dump from "@src/components/Dump.astro";
const formData = await Astro.request.formData();
const artistNames = formData.getAll('name');
const authToken = Astro.cookies.get('spotify-auth-token').value;

const spotifyArtists = await lookupMultipleArtists({artistNames, authToken});

---

<form method="/spotify/create-playlist">
  {spotifyArtists.map(artist => (<input type="hidden" name="artistId" value={artist.id} />))}
  <button>Create playlist with these artists</button>
</form>
<Dump data={spotifyArtists} />
