---
import Layout from "@src/components/Layout.astro"
---

<Layout>
	<h2>Bandcamp search</h2>
	<form action="/search/bandcamp">
		<label for="bandcamp-input">Search bandcamp</label>
		<input type="text" name="q" id="bandcamp-input" />
		<button>Search</button>
	</form>
	<h2>Discogs search</h2>
	<form action="/search/discogs">
		<label for="discogs-input">Search discogs</label>
		<input type="text" name="q" id="discogs-input" />
		<button>Search</button>
	</form>
</Layout>
