---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Bandcamp search</h2>
		<form action="/search/bandcamp">
            <label for="bandcamp-input">Search bandcamp</label>
			<input type="text" name="q" id="bandcamp-input" />
			<button>Search</button>
		</form>
			<h2>Discogs search</h2>
			<form action="/search/discogs">
            <label for="discogs-input">Search discogs</label>
			<input type="text" name="q" id="discogs-input" />
			<button>Search</button>
		</form>
	</body>

</html>
