<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <slot />
	</body>

</html>

<style is:global>
	:root {
		--text: #000000;
		--background: #dcf8ff;
		--primary-button-bg: #0248de;
		--primary-button-text: #fff;
		--secondary-button: #fbfaff;
		--accent: #170179;
	}

	html {
		/* color-scheme: light dark; */
		font-family: system-ui;
		background-color: var(--background);
		color: var(--text);
	}

	button {
		background-color: var(--primary-button-bg);
		color: var(--primary-button-text);
	}

	a {
		color: var(--accent);
	}

	body {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

</style>
