---
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "Music researcher"}</title>
	</head>
	<body>
        <slot />
	</body>

</html>

<style is:global>
	:root {
		--text: #000000;
		--background: #dcf8ff;
		--primary-button-bg: #0248de;
		--primary-button-text: #fff;
		--secondary-button: #fbfaff;
		--accent: #170179;
	}

	@media (prefers-color-scheme: dark) {

		:root {
			--text: #f1eef2;
			--background: #161217;
			--primary-button-bg: #65e6c6;
			--primary-button-text: #000;
			--secondary-button: #e5fbf5;
			--accent: #7beace;
		}

	}
	html {
		/* color-scheme: light dark; */
		font-family: system-ui;
		background-color: var(--background);
		color: var(--text);
	}

	button {
		background-color: var(--primary-button-bg);
		color: var(--primary-button-text);
		border: 2px solid var(--primary-button-bg);
		padding: 0.5rem;
		border-radius: 5px;
		margin: 0.5rem;
	}

	input[type="text"] {
		background-color: inherit;
		color: inherit;
		border: 2px solid var(--primary-button-bg);
		padding: 0.5rem;
		border-radius: 5px;
	}

	button:hover {
		/* border: 2px solid var(--primary-button-bg); */
		background-color: var(--background);
		color: var(--text);
	}

	a {
		color: var(--accent);
	}

	body {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

</style>
