---
import {getItemPathFromUrl} from "@src/utils/songkick"
import SpotifyLookup from "./SpotifyLookup.astro";

const {url, text, count} = Astro.props;
---

<li>
	<a href={getItemPathFromUrl({url, itemType: 'artist'})}>{text} (count: {count})</a>
	<SpotifyLookup artist={text} searchType="artist" />
</li>
