---
import {search, extractArtistIdFromSubdomain} from "@src/utils/bandcamp";
import Layout from "@src/components/Layout.astro";
const searchQuery = Astro.url.searchParams.get('q');
const searchResults = await search({searchType: 'artist', query: searchQuery});
---

<Layout>
	<h2>Bandcamp search</h2>
	<form>
		<label for="search-input">
			<input type="text" name="q" id="search-input" />
			<button>Search</button>
	</form>
	<h2>Search results</h2>
	<ul>
		{searchResults.map(result => 
		<li>	
			<img src={result.img} alt="" />
			<a href={`/bandcamp/${extractArtistIdFromSubdomain(result.item_url_root)}`}>{result.name}</a>
		</li>
		)}
	</ul>
</Layout>
